<main class="w-full min-h-[100dvh] flex items-center justify-start flex-col gap-6 py-8 px-6">

    <section class="w-full flex items-center justify-between px-8">

        <h1 class="text-3xl font-bold">Categories</h1>

        <span class="flex flex-col items-center justify-center gap-2">

            <a class="px-8 py-2 bg-[#1A2131] rounded-full text-white font-bold cursor-pointer transform transition-transform duration-300 hover:scale-105" routerLink="/categories/create">New +</a>

        </span>

    </section>

    <span class="h-2 w-full bg-slate-600/50 rounded-full mb-8"></span>

    @if (error()) {

        <h1 class="text-2xl text-red-800">{{ error() }}</h1>

    }

    <section class="grid grid-cols-2 gap-4 w-full">

        @if (loadedCategories().length !== 0) {

            @for (category of loadedCategories(); track category.categoryId) {

                <a class="w-full h-12 rounded-2xl bg-white shadow-lg flex items-center justify-center p-8"
                   [routerLink]="'/categories/detail/' + category.categoryId">

                    <h1 class="text-2xl">{{ category.name }}</h1>

                </a>

            }

        }

    </section>

    <div class="mt-auto w-full flex items-center justify-center mb-8 gap-4">

        <button class="p-2 px-6 rounded-lg shadow-lg"
                [ngClass]="prevPageExists() ? 'bg-gray-300 cursor-pointer transform transition-transform duration-300 hover:scale-115' : 'bg-gray-500/50'"
                (click)="getCategoriesPage(currentPage() - 1)"
                [disabled]="!prevPageExists()"> <
        </button>

        <p class="p-2 px-6 rounded-lg bg-gray-300 shadow-lg">{{ currentPage() }}</p>

        <button class="p-2 px-6 rounded-lg shadow-lg"
                [ngClass]="nextPageExists() ? 'bg-gray-300 cursor-pointer transform transition-transform duration-300 hover:scale-115' : 'bg-gray-500/50'"
                (click)="getCategoriesPage(currentPage() + 1)"
                [disabled]="!nextPageExists()"> >
        </button>

    </div>

</main>
