<main class="w-full min-h-[100dvh] flex flex-col items-center justify-items-start">

    <app-product-detail-header [product]="product()" />

    @if (error()) {

        <p class="text-2xl text-red-800">{{error()}}</p>

    }

    <table class="bg-white table-auto border-collapse w-[45%] mt-8 text-center">

        <thead class="bg-[#1A2131] text-white font-bold text-xl">

            <tr>

                @if (product().groupByWidth) {

                    <td class="p-2 border-slate-800 border-1">Width</td>

                }

                @if (product().groupByLength) {

                    <td class="p-2 border-slate-800 border-1">Length</td>

                }

                @if (product().groupByHeight) {

                    <td class="p-2 border-slate-800 border-1">Height</td>

                }

                @if (product().groupByColour) {

                    <td class="p-2 border-slate-800 border-1">Colour</td>

                }

                <td class="border-slate-800 border-1">Count</td>

            </tr>

        </thead>

        <tbody>

            @for (count of counts(); track $index) {

                <tr>

                    @if (count.width) {

                        <td class="p-2 border-1 border-slate-800">{{count.width}}</td>

                    }

                    @if (count.length) {

                        <td class="p-2 border-1 border-slate-800">{{count.length}}</td>

                    }

                    @if (count.height) {

                        <td class="p-2 border-1 border-slate-800">{{count.height}}</td>

                    }

                    @if (count.colour) {

                        <td class="p-2  border-1 border-slate-800">{{count.colour}}</td>

                    }

                    <td class="p-2  border-1 border-slate-800">{{count.count}}</td>

                </tr>

            }

        </tbody>

    </table>

    @if (this.counts().length < 1) {

        <p class="text-2xl text-red-800 mt-8">No instances of {{product().name}} found.</p>

    }

</main>
