<main class="w-full min-h-[100dvh] flex flex-col items-center justify-items-start">

    <app-product-detail-header [product]="product()" />

    <nav class="w-full bg-slate-800 text-white font-bold flex items-center justify-evenly shadow-xl">

        <button class="p-4 transform transition-transform duration-300 hover:scale-110 hover:text-blue-400" (click)="changeToCountsPage()" [ngClass]="mode() === ViewMode.COUNTS ? 'text-blue-400' : 'text-white'" >Counts</button>

        <button class="p-4 transform transition-transform duration-300 hover:scale-110 hover:text-blue-400" (click)="changeToInstancesPage()" [ngClass]="mode() === ViewMode.INSTANCES ? 'text-blue-400' : 'text-white'">Instances</button>

    </nav>

    @if (mode() === ViewMode.COUNTS) {

        @if (countsError()) {

            <p class="text-2xl text-red-800">{{countsError()}}</p>

        }

        <app-product-counts [product]="product()" [counts]="counts()" />

    } @else if (mode() === ViewMode.INSTANCES) {

        <app-product-instances [product]="product()" [instances]="instances()" class="mb-4"/>

        @if (instancesError()) {

            <p class="text-2xl text-red-800">{{instancesError()}}</p>
        }

        <div class="mt-auto w-full flex items-center justify-center mb-8 gap-4">

            <button class="p-2 px-6 rounded-lg shadow-lg"
                    [ngClass]="previousInstancePageExists() ? 'bg-gray-300 cursor-pointer transform transition-transform duration-300 hover:scale-115' : 'bg-gray-500/50'"
                    (click)="getProductInstancePage(currentInstancePage() - 1)"
                    [disabled]="!previousInstancePageExists()"> <
            </button>

            <p class="p-2 px-6 rounded-lg bg-gray-300 shadow-lg">{{ currentInstancePage() }}</p>

            <button class="p-2 px-6 rounded-lg shadow-lg"
                    [ngClass]="nextInstancePageExists() ? 'bg-gray-300 cursor-pointer transform transition-transform duration-300 hover:scale-115' : 'bg-gray-500/50'"
                    (click)="getProductInstancePage(currentInstancePage() + 1)"
                    [disabled]="!nextInstancePageExists()"> >
            </button>

        </div>
    }


</main>
