<main class="w-full min-h-[100dvh] bg-slate-200 flex flex-col items-center justify-items-start">

    <header class="w-full min-h-[200px] bg-white flex flex-col items-start justify-center px-20 gap-4">

        <h1 class="text-2xl font-bold">{{ category().name }}</h1>
        <p>{{ category().categoryId }}</p>

    </header>

    @if (products().length > 0) {

        <section class="grid grid-cols-2 gap-4 w-full p-4">

            @for (product of products(); track product.productId) {

                <a class="w-full h-12 rounded-2xl bg-white shadow-lg flex items-center justify-between p-8">

                    <h1 class="text-2xl">{{ product.name | capitalizeFirst }}</h1>

                    <p class="text-lg">{{ product.factoryName }}</p>

                </a>

            }

        </section>

    }

    @if (error()) {

        <h1 class="text-2xl text-red-800 mt-8">{{ error() }}</h1>

    }

</main>
