<main class="w-full min-h-[100dvh] bg-slate-200 flex flex-col items-center justify-items-start">

    <header class="w-full min-h-[200px] bg-white flex items-center justify-between px-20 shadow-lg">

        <span class="flex flex-col items-start justify-center gap-4">

            <h1 class="text-2xl font-bold">{{ category().name }}</h1>
            <p>{{ category().categoryId }}</p>

        </span>

        <span class="flex flex-col items-center justify-center gap-4">

            <a [routerLink]="'/categories/update/' + category().categoryId" class="px-8 py-2 rounded-full bg-[#1A2131] text-white font-bold w-full text-center cursor-pointer transform transition-transform duration-300 hover:scale-105">Edit category</a>
            <a routerLink="/products/create" [queryParams]="{categoryId: category().categoryId}" class="px-8 py-2 rounded-full bg-[#1A2131] text-white font-bold w-full text-center cursor-pointer transform transition-transform duration-300 hover:scale-105">Add new product</a>

        </span>

    </header>

    @if (products().length > 0) {

        <section class="grid grid-cols-2 gap-4 w-full p-4">

            @for (product of products(); track product.productId) {

                <a class="w-full h-12 rounded-2xl bg-white shadow-lg flex items-center justify-between p-8">

                    <h1 class="text-2xl">{{ product.name | capitalizeFirst }}</h1>

                    <p class="text-lg">{{ product.factoryName }}</p>

                </a>

            }

        </section>

    }

    @if (error()) {

        <h1 class="text-2xl text-red-800 mt-8">{{ error() }}</h1>

    }

</main>
