<header class="w-full min-h-[300px] bg-white shadow-lg flex items-center justify-between px-20">

    <div class="flex flex-col items-start justify-center gap-4">

        <h1 class="text-2xl font-bold">{{product().name | capitalizeFirst}}</h1>

        <p>{{product().factoryName}}</p>

        <p>Created by: <b>{{product().usernameCreatedBy}}</b></p>
        <p>Created date: {{product().createdAt | date}}</p>

        <p class="font-bold">{{product().productId}}</p>

    </div>

    <div class="flex flex-col items-end justify-items-start gap-4">

        <h1 class="text-lg">Grouping</h1>

        <span class="w-full flex items-center justify-between gap-8">

                <p class="text-sm">Group by width</p>

            @if (product().groupByWidth) {

                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-8 h-8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>i</title> <g id="Complete"> <g id="tick"> <polyline points="3.7 14.3 9.6 19 20.3 5" fill="none" stroke="#58db00" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> </g> </g> </g></svg>

            } @else {

                <svg fill="red" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"></path> </g></svg>
            }

            </span>

        <span class="w-full flex items-center justify-between gap-8">

                <p class="text-sm">Group by length</p>

            @if (product().groupByLength) {

                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-8 h-8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>i</title> <g id="Complete"> <g id="tick"> <polyline points="3.7 14.3 9.6 19 20.3 5" fill="none" stroke="#58db00" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> </g> </g> </g></svg>

            } @else {

                <svg fill="red" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"></path> </g></svg>
            }

            </span>

        <span class="w-full flex items-center justify-between gap-8">

                <p class="text-sm">Group by height</p>

            @if (product().groupByHeight) {

                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-8 h-8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>i</title> <g id="Complete"> <g id="tick"> <polyline points="3.7 14.3 9.6 19 20.3 5" fill="none" stroke="#58db00" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> </g> </g> </g></svg>

            } @else {

                <svg fill="red" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"></path> </g></svg>
            }

            </span>

        <span class="w-full flex items-center justify-between gap-8">

                <p class="text-sm">Group by colour</p>

            @if (product().groupByColour) {

                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="w-8 h-8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>i</title> <g id="Complete"> <g id="tick"> <polyline points="3.7 14.3 9.6 19 20.3 5" fill="none" stroke="#58db00" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> </g> </g> </g></svg>

            } @else {

                <svg fill="red" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"></path> </g></svg>

            }

            </span>

    </div>


</header>
